<!doctype html>
<html>
<head>
	<title> Shroom Hunters </title>
</head>
<body>
	<header> 
		<img src = "/img/logo/png" alt = "Shroom Hunters logo"
	</header>
	
	{{{body}}}  <!--will be replaced with the HTML for each view (default view)-->
</body>
</html>

